/* Header: Profile and Navigation */
header {
    background-color: rgba(15, 15, 15, 0.95);
    width: 100%;
    position: fixed;
    top: 0;
}

header > div.header-settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 50%;
    height: 64px;
    margin: 0 auto;
}

header > div.header-settings a{
    color: rgba(255, 255, 255, 0.9);
}

header .header-settings > .profile {
    display: flex;
    align-items: center;
}

header .header-settings > .profile img {
    border-radius: 94%;
    height: 64px;
    width: 70px;
    margin-right: 15px;
    object-fit: cover;
}

nav > ul.menu-desktop {
    display: flex;
}

nav > ul.menu-desktop li {
    margin: 0 20px;
}

/* Menu Mobile / Hamburguer */
nav > i.menu-hamburguer {
    display: none;
}

nav > ul.menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.95);
    color: wheat;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%); /* esconde o menu-mobile */
    transition: transform 0.4s ease-in;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

nav > ul.menu-mobile a{
    color: wheat;
}

nav > ul.menu-mobile li {
    margin: 12px;
    cursor: pointer;
}

.show-menu-mobile {
    transform: translateY(0) !important; /* exibe o menu-mobile */
}

.menu-link {
    
}

/* Responsive CSS */
@media (max-width: 1023px){
    header > div.header-settings {
        max-width: 100%;
        margin: 0 50px;
        padding-left: 0;
        padding-right: 0;
    }
    nav > i.menu-hamburguer {
        display: flex;
        color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
        z-index: 100;
    }
    nav > ul.menu-desktop { /* removerá o menu "ul" e suas "li" */
        display: none;
    }
}
