/* Page: hi */
main {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "presentation"
                         "last-jobs";
    margin: 0 auto;
    max-width: 40%;
    line-height: 1.3em;
    letter-spacing: -0.022em;
    text-align: justify;
}

.background { /* teoricamente deveria funcionar na tag "body", porém não deu certo =/*/
    background-color: rgba(0, 0, 0, 0.02);
    width: 100%;
    padding-top: 80px;
}

/* Page: hi - Who I am*/

section.who-i-am {
    grid-area: presentation;
}

section.who-i-am p {
    font-size: 1.1rem;
}

section.who-i-am h1{
    color: rgba(15, 15, 15, 0.95);
    font-weight: 600;
    font-size: 2rem;
}

section.who-i-am p:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* Page: hi - Last Works */
section.last-works {
    grid-area: last-jobs;
}

section.last-works h1 {
    color: #757575;
    font-weight: 300;
    font-size: 1.5rem;
}

/* Page: hi - Last Works: Cards */
section.last-works ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

section.last-works ul .card-body {
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.9);
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

section.last-works ul .card-body .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

section.last-works ul .card-body .card-text {
    background-color: white;
    color: rgba(18, 18, 18, 0.9);
    margin: 0 15px;
    padding-bottom: 20px;
}

.card-text p {
    padding-bottom: 15px;
}

.card-text a { /* Card Link */
    color: #187888;
}

span {
    color: rgba(18, 18, 18, 0.9);
    font-size: 1rem;
    text-align: center;
    margin: 20px 0 45px;
}

/* RESPONSIVE CSS */
@media (max-width: 768px){
    main {
        max-width: 100%;
        margin: 0 50px;
    }
    section.last-works ul {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
