/* Reset CSS */
body, html, ul, li, p, span {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.02) !important;
    width: 100%;
    padding-top: 80px;
}

a {
    text-decoration: none;
}